@import 'nib'
// @import 'default.css'
@import 'bootstrap.min.css'

@import 'match'

body
  padding-top 20px

.nav
  margin-bottom 20px

h1
  .btn
    margin-left 20px

.present-team
  border-bottom 1px solid #ddd
  margin-bottom 10px
  table
    width 30%

.team-desc
  margin-bottom 10px

.btn+.btn
  margin-left 10px
.t-team
  margin-left 15px
  input
    margin-right 10px
.tournaments
  margin-bottom 30px
.feed
  ul
    padding-left 0
  .result
    font-size 16px
  .meta
    margin-bottom 5px
    font-size 12px
    line-height 12px

  li
    padding 15px 10px 10px
    border 1px solid #ddd
    border-width 1px 0
    list-style none
    margin-bottom -1px
    &:hover
      background #f5f5f5

.filterfeed
  margin-bottom 30px