
.match-page
  text-align center
.team
  background #000
  color #fff

.timer
  span
    padding 0 4px

.time-control
  margin 10px 0
  button
    width 100px

.score
  font-size 160px

.acts
  margin-bottom 30px

.team-players
  [class*='line']
    margin-bottom 20px


button
.action-type label
  width 100px

.bonus
  .btn-group-vertical
  button
    width 100px

#log
  width 600px
  margin 0 auto

th
  text-align center

.orientation
  display none
  top 0
  right 0
  bottom 0
  left 0
  &.overlay
    background rgba(0,0,0,.9)
    position fixed
    z-index 5
  &.img
    position absolute
    margin auto
    width 613px
    height 460px
    z-index 6


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
  .orientation
    display block !important