.team-control(data-team=currteam)
  .action-type.acts(data-team=currteam)
    .btn-group(data-toggle='buttons')
      label.btn.btn-default
        input(value='Гол',type='radio', name='team#{currteam}-option')
        | Гол
      label.btn.btn-default
        input(value='Аут',type='radio', name='team#{currteam}-option')
        | Аут
      label.btn.btn-default
        input(value='Автогол',type='radio', name='team#{currteam}-option')
        | Автогол
      label.btn.btn-default
        input(value='Сломан!',type='radio', name='team#{currteam}-option')
        | Сломал
  .team-players.acts
    .first-line
      .btn-group.btn-group-lg
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Левый форвард') ЛФ
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Центральный форвард') ЦФ
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Правый форвард') ПФ
    .second-line
      .btn-group.btn-group-sm
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Левый защитник') ЛЗ
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Правый защитник') ПЗ
    .third-line
      .btn-group.btn-group-sm
        button.btn.btn-primary(type='button', data-team=currteam, data-name='Вратарь') В

  .bonus.acts
    .btn-group-vertical
      button.btn.btn-warning(type='button', data-team=currteam, data-bonus="Отличная атака") Атака
      button.btn.btn-warning(type='button', data-team=currteam, data-bonus="Отличная зашита") Защита
      button.btn.btn-warning(type='button', data-team=currteam, data-bonus="Грубая игра") Грубо
-currteam++