mixin feedmeta
  p.meta 17 августа 2013 14:30
mixin matchres
  li
    +feedmeta
    p <a href="">Бешенные клюшки</a> <strong class="result">1 : 0</strong> <a href="">Озорная ракушка</a>.

mixin tournamentstart
  li
    +feedmeta
    p Началася турнир <a href="#">Мазатель зубной пасты</a>. 8 участников.

mixin matchtournamentres
  li
    +feedmeta
    p <a href="">Бешенные клюшки</a> <strong class="result">1 : 0</strong> <a href="">Озорная ракушка</a> в рамках турнира <a href="#">Мазатель зубной пасты</a>.

mixin tournamentend
  li
    +feedmeta
    p <a href="">Озорная ракушка</a> становится победителем турнира <a href="#">Мазатель зубной пасты</a>.

.row.filterfeed
  .col-md-12
    .btn-group(data-toggle='buttons')
      label.btn.btn-primary
        input(type='checkbox', checked)
        | События турниров
      label.btn.btn-primary
        input(type='checkbox', checked)
        | События матчек
      label.btn.btn-primary
        input(type='checkbox')
        | Лог матчей


.row
  .col-md-12
    .feed
      ul
        +matchres
        +tournamentstart
        +matchtournamentres
        +tournamentend