!!! 5
//if lt IE 7
    html(class="no-js ie6 lt-ie9 lt-ie8 lt-ie7", lang="ru")
//if IE 7
    html(class="no-js ie7 lt-ie9 lt-ie8", lang="ru")
//if IE 8
    html(class="no-js ie8 lt-ie9", lang="ru")
// [if gt IE 8] <!
html(class="no-js", lang="ru")
    // <![endif]
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

      meta(name='apple-mobile-web-app-capable', content='yes')
      title Хоккей
      link(rel='apple-touch-icon', href='/hockey.jpg')
      != js(src="/js/modernizr-2.6.2.min.js")
      != css('main')
    body
      include mixin
      .container
        include inc/nav

        include feed

        //- include teams
        //- include team-add

        //- include tournaments
        //- include tournament-add


        //- include match

      //- include audio
      //- include match


        

      != js(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
      != js(src='/js/main.js')