.match-page
  .orientation.overlay
  .orientation.img
    img(src='/img/rotate.png')

  .team
    .row
      .col-sm-5 Бешенные клюшки
      .col-sm-2.timer
        span.period
        span.time
      .col-sm-5 Безбашенная шайба
  .time-control
    .row
      .col-sm-12
        .btn-group
          button#game.btn.btn-primary(type='button', data-toggle='button') Игра
          button#reset.btn.btn-danger(type="button") Сбросить
  .score
    .row
      .col-sm-6.team1-score.score 0
      .col-sm-6.team2-score.score 0
  - currteam = 1;
  .actions
    .row
      .col-sm-6.team1-action.action
        include control
      .col-sm-6.team2-action.action
        include control

  hr
  h1 Лог событий
  table.table-hover.table-bordered#log