.row
  .col-md-12
    h1 Создать команду
.row
  .col-md-12
    form.form-horizontal(role='form')
      .form-group
          label.col-lg-2.control-label(for='teamname') Название
          .col-lg-10
            input#teamname.form-control(type='text')
      .form-group
        label.col-lg-2.control-label(for='teamowner') Владелец
        .col-lg-10
          input#teamowner.form-control(type='password')

      .form-group
        label.col-lg-2.control-label(for='teamlogo') Эмблема
        .col-lg-10
          input#teamlogo.form-control(type='file')

      .form-group
        .col-lg-offset-10.col-lg-10
          button.btn.btn-primary(type='submit') Создать