mixin commandcard
  .row.present-team
    .col-md-2
      a.thumbnail(href="#")
        +img140
    .col-md-10
      .team-desc
        h2 Название команды
        p Владелец: Иванов Иван Иваныч
        p
          strong Игры: 30
        table.table-bordered
          tr.success
            td Победы
            td 10 (30%)
          tr.warning
            td Поражения
            td 15 (50%)
          tr
            td Ничья
            td 5 (20%)
      p
        a.btn.btn-default(href='#') Статистика
        a.btn.btn-default(href='#') Редактировать

.row
  .col-md-12
    h1
      |Команды
      a.btn.btn-default.btn-lg(href="#") Создать


+commandcard
+commandcard
+commandcard