mixin currenttournament
  .row.present-team
    .col-md-2
      a.thumbnail(href="#")
        +img140
    .col-md-10
      .team-desc
        h2 Мазатель зубной пасты
        //- p Владелец: Иванов Иван Иваныч
        p
          strong Участники: 8 (<a href="">Бешенные клюшки</a>, <a href="">Озорная ракушка</a>, <a href="">Веселая шайба</a>, <a href="">Вонючий конек</a>)
        p
          strong Игр: 10/14
      p
        a.btn.btn-primary(href='#') Начать матч
        a.btn.btn-default(href='#') Подробности


mixin archivetournament
  .row.present-team
    .col-md-2
      a.thumbnail(href="#")
        +img140
    .col-md-10
      .team-desc
        h2 Имя турнира
        //- p Владелец: Иванов Иван Иваныч
        p
          strong Участники: 8 (<a href="">Бешенные клюшки</a>, <a href="">Озорная ракушка</a>, <a href="">Веселая шайба</a>, <a href="">Вонючий конек</a>)
        p
          strong Победитель турнира: <a href="">Бешенные клюшки</a> (Иванов Иван Иваныч)
      p
        a.btn.btn-default(href='#') Результаты
        //- a.btn.btn-default(href='#') Редактировать

.row
  .col-md-12
    h1
      |Турниры
      a.btn.btn-default.btn-lg(href="#") Новый турнир


.row
  .col-md-12
    h2 Текущие турниры
.tournaments
  .row
    .col-md-12
      +currenttournament    



.row
  .col-md-12
    h2 Прошедшие турниры
.tournaments
  .row
    .col-md-12
      +archivetournament
      +archivetournament
      +archivetournament