.row
  .col-md-12
    h1 Новый турнир
.row
  .col-md-12
    form.form-horizontal(role='form')
      .form-group
          label.col-lg-2.control-label(for='tournamenttitle') Название
          .col-lg-10
            input#tournamenttitle.form-control(type='text')
      
      .form-group
        label.col-lg-2.control-label(for='tournamentlogo') Логотип
        .col-lg-10
          input#tournamentlogo.form-control(type='file')
      
      .form-group
        label.col-lg-2.control-label(for='tournamenttype') Тип турнира
        .col-lg-10
          select#tournamenttype.form-control
            option(value="setka") Сетка
            option(value="playoff") Плейофф

      .form-group
        .col-lg-2
          h3 Участники
        -for (var i=0; i<10; i++){
        .t-team
          input(type="checkbox",id='tournamentteam'+i name="tournamentteam", value="tournamentteam-!{i}")
          label(for='tournamentteam'+i) Команда !{i}
        -}


      .form-group
        .col-lg-offset-10.col-lg-10
          button.btn.btn-primary(type='submit') Создать